@import url('https://fonts.googleapis.com/css?family=Asap:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Asap,sans-serif;
}

#root {
  width: 100vw;
  height: 100vw;
}

body {
  background-color: #444;
  overflow : hidden;
}

header {
  background-color: #fff;
  text-align: center;
  padding: 30px;
}

header > h1 {
  color:#272727;
}

.grid {
  width: 600px;
  height: 600px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}

.cell {
  width : 50px;
  height: 50px;
  text-align: center;
  border: 1px dashed #eee;
  font-size: 30px;
}

.apple::after {
  content: "🍎";
}

.snake {
  background-color: #f1c40f;
}

.snake-head {
  background-color: #f1c40f;
}

.snake-head::after {
  content: "🐲";
}

.snake-tail {
  background-color: #27ae60;
}

.gameover {
  width: 600px;
  height: 600px;
  background-color:#2525257f;
  border-radius: 3px;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.active-over { 
  opacity: 1;
}

.gameover > .text {
  margin: 0 auto;
  text-align: center;
}
.button { 
  background-color: #fff;
  padding: 15px;
  width: 200px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  box-shadow: none !important;
  border: none;
  border-color: #fff;
  cursor: pointer;
}